*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Stack Sans Headline", sans-serif;
}

/*Header*/
.logo, .logo2{
    height: 4em;
    width: auto;
}

nav ul {
list-style-type: none; /*fjerner bulletpoints*/
padding: 0;
gap: 1em;
}

nav li{ /*menupunkterne */
    padding: 0.8em; /*mere plads imellem*/
}

nav ul li a{
    color: #000000;
    text-decoration: none; /*fjerner linje under teksten*/
    font-size: 20px;
    display: inline-block;
}

header nav{
    display: flex;
    justify-content: space-between;
    background-color: #a8d0db;
    padding: 1em;
    border-bottom: #2b4570 ;
}

nav ul li a:hover{
    transform: scale(1.1);
}

/*Main*/

.kontaktlinje{
    background-color: #2b4570;
    color: white;
    text-align: center;
    padding: 5px;
}

.kontaktlinje a{
    text-decoration: none;
    color: white;
    display: inline-block;
}

.kontaktelinje a:hover{
    transform: scale(1.1);
}

h1, h2{
    font-size: 3em;
    text-align: center;
}

h3{
    font-size: 1.3em;
    text-align: center;
}

p{
    margin: 0 2em 1.5 2em;
    line-height: 1.6;
}

img{
    width: 100%;
}

/*Velkommen sektion*/
.velkommen {
    padding: 20px;
}

.velkommen p{
    margin-top: 20px;
}

/*Personlige fortællinger sektion*/
.fortallinger {
    padding: 20px;
    background-color: #7180ac;
}

.fortallinger p{
    padding: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 20px; /*runder kanterne*/
    padding: 15px; 
}

.card a {
    display: inline-block;
    background-color: #E49273;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 15px;
}

.card a:hover{
    transform: scale(1.1);
    background-color: #fea584;
}

.card p {
    margin-bottom: 15px;
}

/*Fakta sektion*/
.fakta {
    padding: 20px;
    border-bottom: 2px solid #2b4570;
}

.fakta a {
    display: inline-block;
    background-color: #E49273;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}
.fakta a:hover{
    transform: scale(1.1);
    background-color: #fea584;
}

.fakta p {
    margin-top: 15px;
}

                                                /*Kontaktform*/
.tele-illu {
    height: 5em;
    width: auto;
    float: right;
    margin-top: 15px;
}

.kontaktform {
    border: 3px solid #2b4570;
    border-radius: 5px;
    padding: 1.3em;
    width: 70%;
    margin: 0 auto; /*Centrerer elementet på siden*/
    margin-top: 20px;
}

input[type=text], input[type=email], input[type=tel], select, textarea{
    width: 100%;
    padding: 1em;
    border: 2px solid #000000;
    border-radius: 4px; /*runder kanterne*/
    margin-top: 0.5em;
    margin-bottom: 1em;
}

select, input[type=checkbox], input[type=radio], input[type=submit]{
    cursor: pointer;
}

fieldset{
    border-color: #7180ac;
    margin-bottom: 0.8em;
}

input[type=checkbox]{
    margin: 0.8em 0;
}

input[type=submit]{
    background-color: #E49273;
    padding: 0.8em 1.5em; /*dette gør knappen større, mere fylde 0.8top/bund 1.5 i siderne*/
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
}

input[type=submit]:hover{ /*tilføjer hover på knappen*/
	background-color: #fea584; /*vælger slightly lysere farve*/
}

                                              /*Emneside*/
/*diagnoser sektion*/
.diagnoser{
    padding: 20px;
}

.diagnoser p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.diagnoser a {
    display: inline-block;
    background-color: #2b4570;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    letter-spacing: 2px;
}

.diagnoser a:hover{
    cursor: pointer;
    background-color: #a8d0db;
    color: #000000;
    font-weight: bold;
    border: 3px solid #2b4570;
}

.diagnoser .a-adhd {
    cursor: pointer;
    background-color: #a8d0db;
    color: #000000;
    font-weight: bold;
    border: 3px solid #2b4570;
}

/*ADHD section*/

.adhd {
padding: 20px;
}

.adhd-illu {
    height: 10em;
    width: auto;
}

.adhd-flex {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

/*Indhold section*/

.indhold {
    padding: 20px;
    background-color: #E49273;
    margin-bottom: 30px;
}

.nav-indhold ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

.nav-indhold ul li a {
    color: #ffffff;
}

.nav-indhold ul li a:hover {
cursor: pointer;
color: black;
transform: scale(1.1);
}

.hvaderadhd {
    padding: 20px;
    border-bottom: 2px solid #2b4570;
}

.hvaderadhd p {
    padding: 10px;
    margin-top: 15px;
}

.symptomer{
    padding: 20;
}

.symptomer p {
padding: 10px;
}

/*Footer*/
footer{
    background-color: #2b4570;
    display: flex;
    justify-content: space-between;
}

.logo-footer{
    height: 7em;
    width: auto;
}

img.vaerktoej-img {
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.footer-info{
    text-align: left;
    color: #ffffff;
}

/*media queries*/
@media screen and (min-width: 600px){
    .velkommen,
    .fortallinger,
    .fakta{
        flex: 1;
    } 
}
    
