*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Stack Sans Headline", sans-serif;
}

/*Header*/
.begge-logo-header{
    display: flex;
    justify-content: flex-start;
}

.logo {
    height: 6em;
    width: auto;
    margin-right: 20px;
}

.logo2 {
    height: 6em;
    width: auto;
}

.menu ul {
list-style-type: none; /*fjerner bulletpoints*/
padding: 0;
gap: 1em;
display: none;
justify-content: center; /*her kan vi specificere hvor menuen skal være*/
flex-direction: column;
background-color: #E49273;
width: 100%;
}

nav li{ /*menupunkterne */
    padding: 0.8em; /*mere plads imellem*/
}

nav ul li a{
    color: #000000;
    text-decoration: none; /*fjerner linje under teksten*/
    font-size: 20px;
    display: inline-block;
}

header nav{
    display: flex;
    justify-content: space-between;
    background-color: #a8d0db;
    padding: 1em;
    border-bottom: #2b4570 ;
}

nav ul li a:hover{
    transform: scale(1.1);
    text-decoration: underline;
}

#bars{
        display: block; 
        background: none;
        border: none;
        font-size: 2rem;
        position: absolute;
        right: 20px;
        top: 20px;
    }

menu ul.show {
    display: flex;
}

/*Main*/

.kontaktlinje{
    background-color: #2b4570;
    color: white;
    text-align: center;
    padding: 5px;
}

.kontaktlinje a{
    text-decoration: none;
    color: white;
    display: inline-block;
}

.kontaktelinje a:hover{
    transform: scale(1.1);
}

h1, h2{
    font-size: 3em;
    text-align: center;
}

h3{
    font-size: 1.3em;
    text-align: center;
}

p{
    margin: 0 2em 1.5 2em;
    line-height: 1.6;
}

img{
    width: 100%;
}
                                /*Forside*/
/*Velkommen sektion*/
.velkommen {
    padding: 20px;
}

.velkommen p{
    margin-top: 20px;
}

/*Personlige fortællinger sektion*/
.fortallinger {
    padding: 20px;
    background-color: #7180ac;
    border-radius: 20px;
}

.fortallinger p{
    padding: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 20px; /*runder kanterne*/
    padding: 15px; 
}

.card a {
    display: inline-block;
    background-color: #E49273;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

.card a:hover{
    transform: scale(1.1);
    background-color: #fea584;
}

.card p {
    margin-bottom: 15px;
}

/*Fakta sektion*/
.fakta {
    padding: 20px;
    border-bottom: 2px solid #2b4570;
}

.fakta a {
    display: inline-block;
    background-color: #E49273;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}
.fakta a:hover{
    transform: scale(1.1);
    background-color: #fea584;
}

.fakta p {
    margin-top: 15px;
}

                                                /*Kontaktform*/
.tele-illu {
    height: 5em;
    width: auto;
    float: right;
    margin-top: 15px;
}

.kontaktform {
    border: 3px solid #2b4570;
    border-radius: 5px;
    padding: 1.3em;
    width: 70%;
    margin: 0 auto; /*Centrerer elementet på siden*/
    margin-top: 20px;
    background-color: #a8d0db;
}

input[type=text], input[type=email], input[type=tel], select, textarea{
    width: 100%;
    padding: 1em;
    border: 2px solid #000000;
    border-radius: 4px; /*runder kanterne*/
    margin-top: 0.5em;
    margin-bottom: 1em;
}

select, input[type=checkbox], input[type=radio], input[type=submit]{
    cursor: pointer;
}

fieldset{
    border-color: #7180ac;
    margin-bottom: 0.8em;
}

input[type=checkbox]{
    margin: 0.8em 0;
}

input[type=submit]{
    background-color: #E49273;
    padding: 0.8em 1.5em; /*dette gør knappen større, mere fylde 0.8top/bund 1.5 i siderne*/
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
}

input[type=submit]:hover{ /*tilføjer hover på knappen*/
	background-color: #fea584; /*vælger slightly lysere farve*/
    text-decoration: underline;
}

                                              /*Emneside*/
/*diagnoser sektion*/
.diagnoser{
    padding: 20px;
}

.diagnoser p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.diagnoser a {
    display: inline-block;
    background-color: #2b4570;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    letter-spacing: 2px;
}

.diagnoser a:hover{
    cursor: pointer;
    background-color: #a8d0db;
    color: #000000;
    font-weight: bold;
    border: 3px solid #2b4570;
}

.diagnoser .a-adhd {
    cursor: pointer;
    background-color: #a8d0db;
    color: #000000;
    font-weight: bold;
    border: 3px solid #2b4570;
}

/*ADHD section*/

.adhd {
padding: 20px;
}

.adhd p {
    padding: 10px;
}

.adhd-illu img {
    height: 15em;
    width: auto;
}

.adhd-illu {
    height: 15em;
    width: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.adhd-flex {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

/*Indhold section*/

.indhold {
    padding: 20px;
    background-color: #E49273;
    margin-bottom: 30px;
}

.nav-indhold ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

.nav-indhold ul li a {
    color: #ffffff;
}

.nav-indhold ul li a:hover {
cursor: pointer;
color: black;
transform: scale(1.1);
}

.hvaderadhd {
    padding: 20px;
    border-bottom: 2px solid #2b4570;
}

.hvaderadhd p {
    padding: 10px;
    margin-top: 15px;
}

.symptomer{
    padding: 20;
    margin-top: 40px;
}

.symptomer p {
padding: 10px;
}

/*Footer*/
footer{
    background-color: #2b4570;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.begge-logo-footer{
    height: 5em;
    width: auto;
    display: flex;
    justify-content: flex-start;
}

.vaerktoej-img {
width: 75%;
display: flex;
justify-content: center;
}


.footer-info{
    text-align: left;
    color: #ffffff;
}

main {
    display: block;
}

/*media queries*/
@media screen and (min-width: 769px){
    
    #bars {
        display: none;
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        background: none;
        justify-content: right;
    }

    .main-flex-container{
        display: flex;
        gap: 40px;
    }
    
    .raad, .fortallinger, .fakta{
        width: 30%;
        align-items: flex-start;
    }

    .raad{
        object-fit: contain;
    }

    .vaerktoej-img {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    .vaerktoej-img img {
        width: 400px;
        height: auto;
        object-fit: contain;
    }
    /*emne-side*/

    .emne-flex-container {
    display: flex;
    gap: 40px;
    }

    .adhd-flex, .adhd-illu .indhold{
    width: 30%;
    }

    .adhd-illu {
    height: 20em;    
    width: auto;
    }

    .hvaderadhd{
    width: 100;
    }

    .symptomer-flex-container{
        display: flex;
        gap: 40px;
    }

    .symptomer {
        width: 70%;
    }

    .symptomer-illu {
        width: 30%;
    }

    .tele-illu {
        height: 10em;
    }
}
    
